  /* Estilo para el párrafo */
  .description {
    margin-top: 32px;
    font-size: 1.125rem;
    text-align: center;
  }
  
  /* Flex container para las cards */
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-top: 32px;
    width: 100%;
    max-width: 100%;
  }  